body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }.registration-container {
    background-color: #7a8dca;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }
  .registration-container h2 {
    margin-bottom: 20px;
  }
  .registration-container label {
    display: block;
    margin-bottom: 5px;
  }
  .registration-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .registration-container button {
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
  }
  .registration-container label.radio-label {
    display: inline-block;
    margin-right: 20px;
  }
  .registration-container input, .registration-container select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }