body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to right, #39c8bf, #fff);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 90%; /* Use relative width */
  max-width: 350px; /* Set a maximum width */
}
.login-container h2 {
  margin-bottom: 20px;
  font-size: 24px; /* Increase font size for larger screens */
}
.login-container label {
  display: block;
  margin-bottom: 5px;
}
.login-container input {
  width: 100%;
  padding: 10px; /* Adjust padding for smaller screens */
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.login-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  color: black;
  text-align: center;
}
.social {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.social a {
  margin: 0 10px;
}
.remember {
  
  font-size: 14px;
}
.remember input[type="checkbox"] {
  margin-right: 5px;
}

.register-link {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}